/*// The Width of this exercise is set at 1680px in destkop mode,
 wich is the best setting for my screen,
 you can change it in line number 721 , (.website-wrapper). 
 
 I think this exercise is amazing,
 I can visualize the value of this exercise when we reach React.
 In my particular case i think i succeed at hardcoding the look,
 but i think i did it in a pretty ineficient way with some 
 mistakes in html's structure.
 \\*/

/*// general and mobile \\*/
* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background: #e5e5e5;
}
.website-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*// main \\*/
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/*// Main \\*/

/*// divider \\*/

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grey-divider {
  width: 100%;
  height: 1px;
  border-radius: 3px;
  background-color: #ebeff2;
}
/*// divider \\*/

/*// side bar \\*/

.sidebar {
  display: none;
  position: relative;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}
.saas-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 60px;
}
.sidebar h1 {
  color: #109cf1;
  margin-left: 15px;
  font-family: sans-serif;
}
.sidebar img {
  width: 55px;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 12px;
}
.profile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
  margin-top: 20px;
}
.sidebar .text-wrapper h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.5 px;
  font-style: normal;
  align-content: center;
  color: #192a3e;
  letter-spacing: 0.01em;
}
.sidebar .text-wrapper h5 {
  margin: 0;
  font-size: 11px;
  line-height: 16.5px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #90a0b7;
}
.sidebar .menu {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  align-items: center;
  margin-left: 25px;
}
.sidebar .menu.first {
  margin-top: 35px;
}
.sidebar .menu.first h4 {
  color: #109cf1;
}
.sidebar .gg-collage {
  color: #109cf1;
  opacity: 100% !important;
}
.sidebar .menu i {
  opacity: 25%;
}
.sidebar .menu h4 {
  margin-left: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #334d6e;
}
.sidebar .menu-toggle {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  transform: translate(-5px);
  margin-left: 15px;
}
.sidebar .menu-toggle i {
  opacity: 25%;
}
.sidebar .menu-toggle h4 {
  margin-left: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #334d6e;
  opacity: 50%;
}

/*// side bar \\*/

/*// search bar \\*/

.searchbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: inset 6px 0px 18px rgba(0, 0, 0, 0.06);
}
.searchbar-wrapper input {
  width: 90%;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  border: 0px;
  cursor: text;
  outline: none;
}
input::placeholder {
  font-size: 12px;
  color: #90a0b7;
}
.bell-wrapper {
  display: inline-block;
  flex-direction: row;
  justify-content: stretch;
  position: relative;
}
.searchbar-wrapper i {
  margin-left: 15px;
  opacity: 25%;
  margin-right: 15px;
}
.notifications {
  height: 10px;
  width: 10px;
  background-color: #f7685b;
  border-radius: 50%;
  margin: 5px;
  position: absolute;
  bottom: 0;
  left: 17.5px;
  transform: translate(0 -17.5px);
}
.searchbar-wrapper hr {
  border-top: 1px solid #ebeff2;
}

/*search bar */

/*// content wrapper \\*/
.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*// content wrapper \\*/

/*// tasks \\*/

.tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
h6 {
  font-size: 13px;
  color: #334d6e;
}
.task-graph-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}
.green {
  width: 95%;
  height: 4px;
  border-radius: 3px;
  background-color: #2ed47a;
}
.grey {
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: #ebeff2;
}
.calendar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 35px;
}
.day-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.daydate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}
.daydate-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #109cf1;
  border-radius: 50%;
  color: white;
}
.weekday {
  font-size: 13px;
  color: #334d6e;
  opacity: 50%;
}
.daydate {
  font-size: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  color: #4c5862;
}
.weekday-selected {
  color: #109cf1;
  opacity: 100%;
}

.monday-day {
  color: #109cf1;
  opacity: 100%;
}
.monday-date {
  color: #109cf1;
}
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 126px;
  margin: 25px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  position: relative;
}
.card-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 5px;
  margin-left: 15px;
}

.card p {
  margin: 0;
  font-size: 13px;
  line-height: 19.5px;
  font-style: normal;
  color: #4c5862;
}
.card p span {
  opacity: 50%;
}
.card img {
  width: 35px;
  border-radius: 50%;
  margin-top: 15px;
}
.card h1 {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 500;
  font-style: normal;
  color: #323c47;
}
.card-profile-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 25px;
}
.name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 15px;
  margin-top: 20px;
}
.name-wrapper h3 {
  margin: 0;
  font-size: 13px;
  line-height: 19.5 px;
  color: #707683;
  letter-spacing: 0.01em;
}
.show-more-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  color: #109cf1;
}
.button-completed-wrapper {
  position: absolute;
  bottom: 15px;
  right: 15px;
  transform: translate(-15px -15px);
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: #2ed47a;
}
.button-completed-wrapper h2 {
  color: white;
  font-size: 13px;
  margin: 5px;
  align-items: center;
  text-align: center;
}
.button-ended-wrapper {
  position: absolute;
  bottom: 15px;
  right: 15px;
  transform: translate(-15px -15px);
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: #f7685b;
}
.button-ended-wrapper h2 {
  color: white;
  font-size: 13px;
  margin: 5px;
  align-items: center;
  text-align: center;
}
.icon-delet-wrapper {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 22.5px;
  right: 135px;
  transform: translate(-22.5px -125px);
}
.icon-delet-wrapper i {
  margin-left: 25px;
  opacity: 25%;
}
.info-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  transform: translate(-15px -15px);
}
.info-text-wrapper h2 {
  color: #90a0b7;
  font-size: 13px;
  margin: 5px;
  align-items: center;
  text-align: center;
}

/*// tasks \\*/

/*// graph above \\*/
.content-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
}
.graph-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.graph-text-wrapper span {
  margin-left: 15px;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aeaeae;
  margin-left: 5px;
  margin-top: 3px;
}
.show {
  opacity: 25%;
  font-size: 12px;
}
.month {
  color: #109cf1;
  font-size: 12px;
}

.bar-graphs {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  overflow: hidden;
  height: 70vh;
  position: relative;
}

.text-wrapper-deals {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
  margin-left: 25px;
}
.dot-blue {
  height: 5px;
  width: 5px;
  border: 4px solid #109cf1;
  border-radius: 50%;
  margin: 5px;
}
.graphic-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100%;
  margin: 25px;
  position: relative;
}
.svg-body-wrapper {
  position: absolute;
  top: 10%;
  transform: translate(-10%);
}
.svg-line-wrapper {
  position: absolute;
  top: 10%;
  transform: translate(-10%);
}
.dot-blue-graphic {
  height: 5px;
  width: 5px;
  border: 3px solid #109cf1;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  position: absolute;
  right: 25.5%;
  top: 12%;
  transform: translate(-25.5% -12%);
}
.stick-wrapper {
  height: 41%;
  width: 1px;
  background-color: #c4c4c4;
  opacity: 25%;
  position: absolute;
  top: 0;
  right: 28.2%;
  transform: translate(-0 -28.2%);
}
.dates-parameter-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 15px;
  transform: translate(-15px);
}
.dates-parameter-wrapper h1 {
  font-size: 12px;
  font-weight: 400;
  color: #4c5862;
}
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 45%;
  position: absolute;
  top: 3%;
  transform: translate(-3%);
}
.column {
  width: 100%;
  height: 100%;
}
hr {
  border: 1px dashed #e5e5e5;
}
.parameters-wrapper {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin-left: 5%;
  position: absolute;
  top: 36%;
  transform: translate(-36%);
}
.parameters-wrapper h1 {
  font-size: 14px;
  font-weight: 400;
  color: #192a3e;
}

/*// graph above \\*/

/*// graph below (pie) \\*/

.pie-charts {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  overflow: hidden;
}
.pie-charts .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 50px;
  margin-left: 0;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  margin: 0;
}
.numbers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13.5%;
  left: 27%;
  transform: translate(13.5% -27%);
  font-size: 16px;
  font-weight: 500;
  line-height: 84px;
  text-align: center;
  color: #2ed47a;
}

.data-text-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.pie-chart-graphic {
  background: radial-gradient(
      circle closest-side,
      white 0,
      white 58%,
      transparent 58%,
      transparent 66%,
      white 0
    ),
    conic-gradient(
      from 245deg,
      #2ed47a 0,
      #2ed47a 55.6%,
      #ffb946 0,
      #ffb946 83.3%,
      #f7685b 0,
      #f7685b 100%
    );

  width: 240px;
  min-height: 165px;
  margin: 0;
}
.dot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dot-green {
  height: 10px;
  width: 10px;
  border: 4px solid #2ed47a;
  border-radius: 50%;
  margin: 5px;
}
.dot-yellow {
  height: 10px;
  width: 10px;
  border: 4px solid #ffb946;
  border-radius: 50%;
  margin: 5px;
}
.dot-red {
  height: 10px;
  width: 10px;
  border: 4px solid #f7685b;
  border-radius: 50%;
  margin: 5px;
}

ul {
  margin: auto;
  border: 0;
  padding: 0;
  font-size: 12px;
}
li {
  list-style: none;
  margin: 10px;
}
h1 {
  font-size: 15px;
  font-style: normal;
}

/*// graph below (pie) \\*/

/*// desktop \\*/

@media only screen and (min-width: 780px) {
  .website-wrapper {
    flex-direction: row;
  }
  .sidebar {
    display: inline-block;
    width: 20vw;
  }
  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .tasks {
    width: 65%;
    margin: 25px;
    margin-right: 0;
  }
  .charts {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 25px;
  }
  .parameters-wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    padding-left: 35px;
    margin-left: 5%;
    position: absolute;
    top: 37%;
    transform: translate(-37%);
  }
  .graphic-container {
    padding-left: 35px;
  }
  .bar-graphs {
    height: 50%;
    margin-bottom: 25px;
  }
  .pie-charts {
    height: 50%;
  }
  .pie-chart-graphic {
    width: 290px;
    min-height: 225px;
  }
  .numbers-wrapper {
    top: 17.5%;
    left: 26%;
    transform: translate(-17.5% -26%);
    font-size: 26px;
  }
  .icon-delet-wrapper {
    display: flex;
  }
}
